NX/bin/
NX/etc/
NX/lib/
NX/scripts/env/
NX/scripts/etc/
NX/scripts/init/nx.csh
NX/scripts/init/nx.sh
NX/scripts/init/nxserver.conf
NX/scripts/init/nxserver.conf.legacy
NX/scripts/lb/
NX/scripts/nxpasswdask.sh
NX/scripts/restricted/
NX/scripts/selinux/
NX/scripts/setup/
NX/scripts/systemd/
NX/scripts/vgl/
NX/share/
NX/var/
bin/
games/
include/
lib/
lib32/
lib64/
libexec/
local/
sbin/
share/
src/
